& {
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		position: relative;
		padding-top: px(315);
		-webkit-justify-content: center;
				justify-content: center;
		
		
		.logo_sign {
			display: flex;
			-webkit-justify-content: space-between;
				justify-content: space-between;
			width: 127px;
			height: 111px;
			padding-left: 15px;

			.logo__line {
			display: flex;
			-webkit-flex-flow: row wrap;
			    -ms-flex-flow: row wrap;
			        flex-flow: row wrap;
			width: 25px;
			height: 110px;
			margin: 0 auto;
			background-color: #fff;
			border-radius: 12px;
			}

			.logo__line:nth-of-type(2) {
				width: 20px;
				height: 106px;
				border-radius: 15px;
				transform: skew(42deg,-45deg);
			} 

			.logo__line-top_grad {
				background-image: linear-gradient(to top, transparent 0%, transparent 40%, rgba(0, 0, 0, .3) 100%);
			}

			.logo__line-bottom_grad {
				background-image: linear-gradient(to top, rgba(0, 0, 0, .3) 0%, transparent 60%, transparent 100%);
			}
		}
			
		

		.logo__signal {
			display: flex;
			
		}


}
